<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas</title>
</head>
<body>
    <h1>Guia Perguntas</h1>
    <hr>
    <h3>Lista de Perguntas</h3>
    <p>Nome: <%= nome %></p>
    <p>Linguagem: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Numero de funcionários: <%= participantes %></p>
    <% if (msg==true){%>
        <h3>Isso é um teste!</h3>
    <%} else {%>
        <h3>Isso é um erro</h3>
    <%}%>

    <% produtos.forEach(function(produto) {%>
        <p>Produto: <%= produto.nome %> </p>
        <p>Preço: <%= produto.preco %> </p>
    <%})%>
</body>
</html>